//========= VARIABLES =========

$maincolor: rgb(218, 87, 17);
$contrastcolor: white;
$secondarycolor: rgb(72, 98, 97);
$mainfont: mirande;
$subfont: lightly Sailler;
$accentfont: amalfi coast;

//========= MAIN =========
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    // background-image: url(https://i.imgur.com/Mmb7WX6.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;    
    background-color: #cecac5;

}
main {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

//========= HEADER =========
nav {  
    font-family: $mainfont;
    font-size: 23px;
    color: $secondarycolor;
    font-family: mirande;
    font-size: 23px;
    color: #486261;
    height: 60px;
    max-width: 2000px;
    margin: auto;
    padding-right: 17px;
}
    .right-nav {
        // margin-left: 600px;
       
        float: right;
        margin-top:20px;
        width: 395px;
        // div {
        //     margin-left: 10px;
        // }
    }


//========= HOME =========

ul {
    list-style-type: none;
    font-family: $mainfont;
    font-size: 40px;
    float: left;
    margin-top: -125px;
    padding-left: 60px;
    text-align: left;
}

a {
    text-decoration: none;
    color: $secondarycolor;  
}
.home-logo {
    position: relative;
    bottom: 84px;
    right: 34px;
}
.logo {
    font-family: $mainfont;
    color: $contrastcolor;
    // margin-top: -200px;
    // margin-left: -70px;
    font-size: 60px;
    margin-bottom: -30px;
    position: relative;
}

.sub-logo {
    font-family: $accentfont;
    color: $contrastcolor;
    font-size: 33px;
    left: 19px;
    position: relative;
}

.img-home {
    margin: 164px auto 0;
    width: 1000px;
    // height: 100%;
    // height: auto;
    background: url(./barcelonaimage.png) center;
    background-repeat: no-repeat ;
    background-size: contain;
    position: relative;
    padding-top: 550px;
}

.sec-home {
    float: left;
    padding-left: 100px;
    text-align: justify;
    font-size: 14px;
    font-family: $mainfont;
    color: $secondarycolor;
    margin: -224px 0 0px -21px;
    width: 300px;

}

.name {
    font-family: $accentfont;
    font-size: 10px;
}

.line {
    margin-right: 90px;
}

//========= ABOUT =========
.img-about {
    // margin-top: 85px;
    width: 520px;
    // height: auto;
    // margin-right:450px;
    border: 4px solid white;
    box-shadow: 3px 3px 3px rgb(41, 41, 41, 0.70)  
}

.about-h2 {
    font-family: $accentfont;
  margin-top: 140px;
  font-size: 35px;
  color: $secondarycolor;
}

.about-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 990px;
    margin: 75px auto 0;
}
.about-p {
    font-family: $subfont;
    font-size: 15px;
    width: 375px;
    margin: 0 auto;
    // margin-left: 650px;
    // margin-right: 90px;
    // margin-top: -380px;
    // padding-right: 30px;
    text-align: justify;
    color: $secondarycolor;
}

.logotwo {
    font-family: $mainfont;
    color: $secondarycolor;
    font-size: 60px;
    text-align: left;
    margin-left: 60px;
}

.sub-logotwo {
    font-family: $accentfont;
    color: $secondarycolor;
    font-size: 30px;
    text-align: left;
    margin-left: 80px;
    margin-top: -25px;
}

//========= INDEX =========
.indeximg {
    width: auto;
    height: 175px;
    margin-top: 20px;
    border: 4px solid white;
    box-shadow: 2px 2px 2px rgb(41, 41, 41, 0.70);
}

.attraction {
    max-width: 1040px;
    display: inline-block;
    padding-left: 10px;
    margin-top: -20px;
}

.form {
    // margin-top: 200px;
    margin: 130px auto 20px;
    width: 100%;
}

.idxinput, button {
    margin: 5px;
    background: transparent;
    border: 1.2px solid $secondarycolor;
    border-radius: 12px;
    font-family: $mainfont;
    color: $secondarycolor;
    text-align: center;
    padding: 5px;
    font-size: 13px;
}
.idxinput::placeholder {
    color: $secondarycolor;
}

.idx {
    text-align: left;
    // float: right;
    // margin: 80px -10px 200px 760px;
    // padding-right: 100px;
    color: $secondarycolor;
    display: flex;
    margin-top: 70px;
    // width: 500px;
}

.idxp {
    font-family: $mainfont;
    font-size: 20px;
    width: 300px;
    margin: 0 0 0 141px;
}
.linetwo {
    margin-left: 141px;
    width: 300px;
}

.nametwo {
    font-family: $accentfont;
    font-size: 15px;
    margin-left: 141px;
}

.idximg {
    width: 200px;
    height:200px;
    transform: rotate(-20deg);
    margin-top: -176px;
    margin-left: -99px;
    border: 4px solid white;
    box-shadow: 2px 2px 2px rgb(41, 41, 41, 0.70);
}

//========= SHOW =========
.img-show {
    margin-top: 5px;
    width: 420px;
    height: auto;
    border: 4px solid white;
    box-shadow: 3px 3px 3px rgb(41, 41, 41, 0.70);   
}

.show-h2 {
    font-family: $mainfont;
    margin: 5px;
    font-size: 30px;
    color: $secondarycolor;
}

.show-p {
    font-family: $subfont;
    font-size: 15px;
    margin: 20px auto 0px;
    text-align: justify;
    color: $secondarycolor;
    width: 991px;
    padding: 0 20px;
}

.formTwo {
    margin: 5px;
    background: transparent;
    border: 1.2px solid $secondarycolor;
    border-radius: 12px;
    font-family: $mainfont;
    color: $secondarycolor;
    text-align: center;
    padding: 5px;
    font-size: 13px;
}

@media (max-width: 991px) {
    .img-home {
        width: 767px;
    }
    .sec-home {
        margin: -224px 0 0px -80px;
        width: 275px;
        font-size: 12px;
    }
    nav {
        padding-right: 0;
    }
    .about-details {
        width: 767px;
    }
    .img-about {
        width: 400px;
    }
    .about-p {
        width: 300px;
    }
    .index-header {
        width: 30% !important;
    }
    form {
        width: 60%;
        margin: 0 auto;
    }
    .show-p {
        width: 767px;
    }
}
@media (max-width: 767px) {
    nav {
        font-size: 20px;
    }
    .img-home {
        margin: 0 auto 0;
        width: 400px;
    }
    ul {
        font-size: 30px;
        margin-top: 45px;
    }
    .logo {
        font-size: 35px;
        margin-bottom: -20px;
    }
    .sub-logo {
        font-size: 17px;
        left: 8px;    
    }
    .home-logo {
        bottom: 200px;
        right: 15px;
    }
    .sec-home {
        margin: -150px auto 0;
        width: 275px;
        font-size: 12px;
        float: unset;
        padding-left: 0;
    }
    .about-details {
        display: block;
        margin: 45px auto 0;
        width: 375px;
    }
    .img-about {
        width: 330px;
    }
    .about-p {
        width: 360px;
        margin-top: 30px;
    }
    .about-h2 {
        margin-top: 70px;
    }
    .sub-logotwo {
        margin-left: 50px;
        font-size: 25px;
    }
    .logotwo {
        margin-left: 30px;
        font-size: 50px;
    }
    main {
        padding: 50px 0 0 0;
    }
    .idx {
        display: inline-block;
    }
    .idxp {
        font-size: 16px;
        width: 200px;
    }
    .nametwo {
        font-size: 12px
    }
    .linetwo {
        width: 200px;
    }
    .index-header {
        width: 0% !important;
    }
    .index-header2 {
        width: 100% !important;
        margin: 0 auto;
        display: block;
    }
    .idximg {
        width: 180px;
        height: 180px;
        margin-left: -70px;
    }
    form {
        width: 100%;
    }
    .show-p {
        width: 375px;
    }
    .img-show {
        width: 360px;
    }
    .attractionTwo {
        margin: 45px auto 0;
    }

}
@media(max-width: 575px) {
    nav {
        font-size: 18px;
    }
    .right-nav {
        width: 330px;
    }
    ul {
        font-size: 25px;
        padding-left: 30px;
    }
    .idxp {
        font-size: 13px;
        width: 150px;
    }
    .linetwo {
        width: 150px;
    }
    .nametwo {
        font-size: 10px;
    }
    .idximg {
        width: 115px;
        height: 126px;
        margin-left: 5px;
    }
}
