//========= VARIABLES =========

$maincolor: black;
$contrastcolor: white;

footer {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
}

//========= HEADER =========